
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}

header {  
  padding: 32px;

  border-bottom: 1px solid gray;  
}

header h1 {
  margin: 0px;
}

main {
  padding: 32px;
}

pre {
  background: whitesmoke;
  border: 1px lightgray solid;
  padding: 16px;
}

code {
  padding: 2px;
}


figure {
  text-align: center;
}

img {
  width: 100%;
  box-shadow: 0 0 8px gray;
}

mark.blue {
  background: rgb(117, 117, 255);
}
